*{
    padding: 0;
    margin: 0;
    }
    
    header{
        height: 45px;
    }

    ul{
        list-style: none;
    }

    header nav ul{
        display: flex;
        margin-left: 70%;
        list-style: none;
    }
    
    header nav ul li{
        padding-left: 10%;
    }
    
    header a{
        text-decoration: none;
        color: black;
        
    }
    
    
    section {
        border: 1px solid black;
        display: flex;
        /*flex-direction: row;*/
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        height: 115vh;
    }
        
    
    .container img{
        height: 500px;
        border-radius: 8%;
    }
    
    .container h2{
        margin-top: 2%;
        margin-left: 40%;
        font-size: 3em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }

    .container p, ul{
        margin-top: 2%;
        display: table;
        margin: 0 auto;
        font-size: 1.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }
    
    footer {
        line-height: 40px;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }

    #home {
        background-repeat: round;
        background-color: rgb(214, 239, 255);
    }
    #about{
        background-color: rgb(255, 255, 255);
    }
    #contact{
        background-color: rgb(214, 239, 255);
    }